/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background: #0f0f0f;
    color: #fff;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(135deg, #ff0055, #7f00ff);
}

header h1 {
    font-size: 1.8rem;
}

header p {
    opacity: 0.9;
    margin-top: 5px;
}

/* BUSCADOR */
.buscador {
    padding: 15px;
}

.buscador input {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    outline: none;
}

/* TOP */
.top {
    padding: 15px;
}

.top h2 {
    margin-bottom: 10px;
}

.top-lista {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.top-item {
    min-width: 140px;
    background: #1a1a1a;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.top-item img {
    width: 100%;
    border-radius: 10px;
}

/* GRID ARTISTAS */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 15px;
    padding: 15px;
}

/* CARD */
.card {
    background: #1a1a1a;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card h3 {
    font-size: 1rem;
}

.card p {
    font-size: 0.8rem;
    opacity: 0.8;
    margin: 5px 0;
}

/* LINKS */
.links {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.links a {
    text-decoration: none;
    font-size: 0.8rem;
    padding: 6px 10px;
    border-radius: 15px;
    color: white;
}

.spotify {
    background: #1db954;
}

.youtube {
    background: #ff0000;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    font-size: 0.8rem;
    opacity: 0.7;
}

/* DESKTOP */
@media (min-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    .card img {
        height: 220px;
    }
}
@media (max-width: 600px) {
  .card {
    flex-direction: column;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 12px;
  }

  iframe {
    height: 80px;
  }
}